.section {
    display: flex;
    flex-direction: column;
}

.item_section {
    display: flex;
    /* border-style: solid; */
    border-width: 1px;
    margin-block: 8px;
    border-radius: 5px;
    /* border-color: #f9f9f9; */
    background-color: white;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);

}

.item_content {
    width: 100%;

}

.item_details {
    display: flex;
    width: 100%;
}



.streak_display {
    display: flex;
    justify-content: end;
    margin-left: auto;
}

.quick_input {
    background-color: #d8d6d9;
    color: #757575;
    border-style: none;
    height: 2rem;
}

.quick_input:focus {
    background-color: white;
}

.hoverable:hover {
    border-style: solid;
    border-width: 1px;
}

button:hover {
    cursor: pointer;
}

.checkbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797979;
}

.select_box {
    width: 2rem;

}

.select_box:hover {
    cursor: pointer;
}

.task_option_menu {
    position: absolute;
    background-color: #f5f5f5;
    right: 0px;
    list-style-type: none;
    padding-left: 0px;
}

.task_option_menu>li>button {
    border-style: none;
}


.task_option_menu_container {
    position: relative;
    border-style: solid;
}

.options_button {
    position: relative;
    margin-left: auto;
}


.filter_button {
    border: none;
    background-color: rgba(245, 255, 250, 0);
}

.create_button {
    margin-left: auto;
}

.checkbox_icon {
    width: 50px;
    margin-inline: 8px;
    background-color: #797979
}

.checkbox_icon:hover {
    cursor: pointer;
}

.option_icon {
    width: 25px;
    height: 15px;
}

.options_button>button {
    border-radius: 50px;
    border-style: solid;
    border-color: #b9b8b8;
    border-width: 1px;
    padding: 0px;
    margin-right: 4px;
    margin-top: 4px;
    /* box-shadow: 2px 2px 2px grey; */
}

.item_content p {
    margin-inline: 4px;
}

.pos_neg_button {
    width: 25px;
    background-color: #c9c9c9;
}

.border_false {
    border-style: none;
    background-color: #c9c9c9;
}


.positive{
    background-color: rgb(105, 180, 91);
}

.negative{
    background-color: rgb(160, 85, 85);
}

.neutral{
    background-color: rgb(247, 185, 72);
}
