.avatar {
    width: 200px;
    height: auto;
    border-radius: 15%;
    padding: 15px;
}

.avatar-info-container {
    display: flex;
    flex-direction: row;
}

.about-info {
    margin-left: 2rem;
    padding: 20px 40px 20px 20px;
    border-radius: 15%;
}

#userInfo {
    color: aliceblue;
    font-weight: 800;
}

#about {
    color: aliceblue;
    padding-top: 10px;
}

#details-time {
    color: aliceblue;
}

.member-word {
    padding: 30px 0 10px 0;
    font-weight: 800;
}

.date {
    margin-bottom: 25px;
}

.edit-avatar-button {
    background-color: #9a62ff;
    color: aliceblue;
    width: 10rem;
    height: 2rem;
    border-radius: .5rem;
    border: none;
    
}

.edit-avatar-menu button{
    background-color: #9a62ff;
    color: aliceblue;
    width: 10rem;
    height: 2rem;
    border-radius: .5rem;
    border: none;
    
}
.edit-avatar-menu button:hover {
    background-color: #823ffd;
    
}
