.daily-edit-ctn {
    width: 25rem;

    /* color: #C6C1BA; */
    /* overflow-y: scroll; */
    /* max-height: 90vh; */

    /* padding: 24px 12px; */
    /* box-sizing: border-box; */
    /* background-color: black; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Title and buttons */
.edit-daily-title-and-btns {
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.daily-edit {
    padding: 8px 12px;
}

.daily-edit.cancel {
    background-color: transparent;
    border: none;
}

.daily-edit.save {
    align-items: center;
    appearance: button;
    background-color: #ffffff;
    border: 1px solid rgba(146, 92, 243, 0.847);
    border-radius: 4px;
    box-shadow: rgba(26, 24, 29, 0.024) 0px 0.462809px 0.925618px 0px,
        rgba(26, 24, 29, 0.035) 0px 0.462809px 0.925618px 0px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.15s ease-in-out 0s,
        background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s,
        box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    user-select: none;
    vertical-align: middle;
}

/* Top of form */
.daily-edit-form-top {
    background-color: #ffbe5d;
    border-radius: 8px 8px 0px 0px;
    box-sizing: border-box;
    padding: 24px;
    transition: none 0s ease 0s;

    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
}

.edit-daily-btn-save-cancel {
    align-content: center;
}

.daily-edit-form-top-input {
    background-color: #ffdeae;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}
.daily-edit-form-top-input::placeholder {
    color: rgba(255, 255, 255, 0.572);
}

.daily-edit-input-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6px;
}

.edit-daily-p {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.daily-edit-form-top > div > label {
    color: #794b00;
    cursor: default;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23.94px;
    text-align: left;
}

/* Bottom of form */
.daily-edit-form-bottom {
    padding: 0 24px 24px;
    background-color: white;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    transition: none 0s ease 0s;
    border-radius: 0px 0px 8px 8px;
}

/* Habit Type Buttons */
.edit-daily-plus-and-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.daily-btn-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    border-color: #a5a1ac;
}

/* Daily Select Inputs */
.edit-daily-select-ctn {
    display: flex;
    flex-direction: column;
}

.edit-daily-select-ctn > select {
    padding: 0 8px;
}

/* Advanced Options */
.advanced-options-chevron {
    display: flex;
    justify-content: space-between;
}

.advanced-options-menu {
    display: flex;
    flex-direction: column;
}

.advanced-counters {
    display: flex;
    gap: 4px;
}

.advanced-counters > div {
    display: flex;
    gap: 4px;
    width: 100%;
}

.advanced-counters > div > input {
    width: 100%;
}

.fa-square-minus,
.fa-square-plus {
    font-size: 20px;
}

/* Delete Habit Button */
.edit-daily-del {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.edit-daily-del-btn {
    color: red;
    background-color: transparent;
    border: none;
    text-shadow: black 3px 3px 3px;
    cursor: pointer;
}

#gap {
    margin: 15px 0 8px 0;
}
